
/* 樋口講師のtask.cssを暫定的に流用 */

/* モーダルの背景（暗い部分） */
    .modal_background {
      display: none; /* 最初は非表示 */
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
      z-index: 10;
    }

    /* 新規登録モーダルの本体 */
    .r_modal {
      background-color: white;
      width: 25%;
      margin: 100px auto;
      padding: 20px;
      border-radius: 10px;
      text-align: center;
      z-index: 11;
    }
    

    /* 編集モーダルの本体 */
    .e_modal {
      background-color: white;
      width: 25%;
      margin: 100px auto;
      padding: 20px;
      border-radius: 10px;
      text-align: center;
      z-index: 11;
    }