
.one_case_detail{
	background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
    margin-bottom: 24px; /* カード上下距離 */
    /*letter-spacing: 3px;*/
}
