
/*案件詳細CSS*/
.one_case_detail{
	background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
    margin-bottom: 24px; /* カード上下距離 */
    max-width: 650px;
    /*letter-spacing: 3px;*/
}
/*完了、中止ボタンのCSS*/
.case_button{
	display: flex;
	justify-content: right;
	margin-top: 10px;
}
/*編集ボタンのCSS*/
.case_edit_button{
	display: flex;
	justify-content: right;
	margin-top: 5px;
}

/*テーブルのデザイン*/
th,td {
	padding: 10px 12px;
    border-bottom: 3px solid #edf2f7;
    vertical-align: middle;
}
/*案件タスク一覧テーブル*/
#foo-table {
  border:none;
  border-collapse: collapse;
  width: 100%;
  max-width: 850px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  background-color: #ffffff;

}
#foo-table thead th {
  background-color: var(--main-color);
  color: #fff;
  font-weight: bold;
  text-align: center;
}
#foo-table td {
	text-align: center;
}

/*工数ログテーブル*/
#log-table{
  border-collapse: collapse;
  width: 100%;
  max-width: 850px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
}

#log-table thead th {
  background-color: var(--main-color);
  color: #fff;
  font-weight: bold;
  text-align: center;
}
/* h3タグのCSS */
h3 {
	color: #004d99;
}

