#foo-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 650px;
  overflow: hidden;
  text-align: center;
}
#foo-table tr {
  background-color: #e6f1f6;
}
#foo-table tr:nth-child(even) {
  background-color: #fff;
}
#foo-table th, #foo-table td {
  padding: 0.5em;
  vertical-align: middle;
}
#foo-table thead th {
  background-color: #4d9bc1;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
#foo-table tbody th {
  color: #4d9bc1;
}
#foo-table td.nowrap {
	white-space: nowrap;
}

